<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/gallery.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body id="bod">
        <header>
            <a href="/upLoadImage/<%=currentUser.UserName%>">Upload An Image</a>
            <a href="/profile/<%=currentUser.UserName%>/<%=currentUser.UserName%>">Home</a>



        </header>
        <div class="main">



            <h1>Uploaded Images</h1>

                    <div class="upperImg">


                            </div>

                            <div class="gallery">


                            <% allPhotos.forEach(function(image) {%>


                            <div class="box" id='boxes'  onclick = editPhoto('<%= image.id %>')>

                                <img onclick = zoom() class='trying' id="try" src="data:image/<%=image.img.contentType%>;base64,<%=image.img.data.toString('base64')%>">

                                <div class="clip" id='right' ></div>
                                <div class="clip" id='left'></div>
                                <div class="clip" id='up'></div>
                                <div class="clip" id='down'></div>
                                <span id='rightClip' class="clipper">Click to Zoom
                                    <%= image.UserName %>

                                    </span>
                                <span id='leftClip' class="clipper">Click to Zoom
                                    <%= image.UserName %>


                                    </span>
                                <span id='upClip' class="clipper">Click to Zoom
                                    <%= image.UserName %>

                                    </span>
                                <span id='downClip' class="clipper">Click to Zoom
                                    <%= image.UserName %>
                                    </span>
                            </div>
                            <%
                        })%>

                        <div id="myModal" class="modal">


                            <span class="close">&times;</span>
                            <div class="modal-content">
                                <p>You cannot edit this photo</p>


                            </div>



                          <div id="caption"></div>
                        </div>


                            </div>


        </div>
<script type="">

const modal = document.getElementById("myModal");
const modalImg = document.getElementById("img01");
const image = document.getElementById('try')
const  userName = '<%= currentUser.UserName %>'


function editPhoto(id) {

         window.location.href=`/galleryEdit/${id}/${userName}`


}
function zoom(img) {
// const img = document.getElementById('boxes');
    // console.log(img);
  modal.style.display = "block";
  modalImg.style.backgroundImage = `url(${img})`;
   // modalImg.src = this.src;
}
const span = document.getElementsByClassName("close")[0];
span.onclick = function() {
  modal.style.display = "none";
}

</script>
    </body>
</html>
