<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="/css/profile.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>

            <img class="cpIcons" src="/photos/cpIcon.png" alt="">
            <h1 class='hide' >Cyclepaths&nbsp</h1>
            <div class="hiddenHeaderName">
                <h1><%=data[0].UserName%></h1>
            </div>

            <%if( currentUser.UserName !=  data[0].UserName ){%>
                <h1 class="welcome" > Welcome to <%= data[0].UserName %>'s page </h1>
            <% }else if(currentUser.UserName  ==  data[0].UserName){%>
                <h1 class="welcome" > Welcome Home </h1>
            <%}%>
            <img class="cpIcons hide" src="/photos/cpIcon.png" alt="">
            <div class="mobileHeader">
                <div class="iconPair">
                    <a href="/"><ion-icon name="exit"></ion-icon><br>Logout</a>
                </div>

            </div>
        </header>
        <div class="main">
            <div class="headerBox" style="background-image: url('<%=data[0].coverPhoto%>')">
                <div class="leftHeader">
                    <div class="leftHeaderContainer">
                        <div class='nameBox'>
                            <div class='name'>
                                <h1><%=data[0].firstName%></h1>
                                <h1>&nbsp<%=data[0].lastName%></h1>
                            </div>
                            <h2>(<%=data[0].UserName%>)</h2>
                        </div>
                        <div class="upperLocation">
                            <div class="location">
                                <ion-icon name="location"></ion-icon></ion-icon><h3><%=data[0].city%>, <%=data[0].state%></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="photo" style="background-image: url('<%=data[0].coverPhoto%>')">
                    <img class= "img"  src="<%=data[0].profilePicture%>" alt=""></img>
                </div>
                <div class="rightHeader">
                    <div class="rightHeaderContainer">
                        <div class="upperIcons">
                            <div class="iconPair">
                                <a class="edit" href="/newPost/<%=data[0].UserName%>/newPost"><ion-icon name="pencil"><br></ion-icon><div class="butt1"><div id="edit">Post</div></div></a>
                            </div>
                            <div class="iconPair">
                                <a href="/gallery/<%=currentUser.UserName%>"><ion-icon name="images"></ion-icon><br>Gallery</a>
                            </div>
                            <div class="iconPair">
                                <a href="/"><ion-icon name="exit"></ion-icon><br>Logout</a>
                            </div>
                        </div>
                        <div class="motto">
                            <h3><%=data[0].motto%></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodyHead">
                <div class="cpIM"></div>
                <div class="carousel">
                    <div class="carouselBox">
                      <%for(let val of allUsers){%>
                        <a href="/userProfile/<%=val.UserName%>/<%=currentUser.UserName%>" >
                            <div id="s1" class="horizontal-card" style="background-image: url('<%=val.profilePicture%>')">
                          <%=val.UserName%>
                            </div>
                        </a>
                    <%}%>
                    </div>
                    <div class = "leftScroll"  onclick="scrollL()"><</div>
                    <div class = "rightScroll"  onclick="scrollR()">></div>
                </div>
                <div class="cpIM"></div>
            </div>
            <div class="bodyDiv">
                <div class="bodyLeftSide">
                    <div class="shade">
                        <div class="sideList">
                            <div class="linksDiv">
                                <div class="links"><a href="/userProfile/<%=currentUser.UserName%>/<%=currentUser.UserName%>" ><ion-icon name="person"></ion-icon><b>Profile</b></a></div>
                                <a href="https://www.google.com/maps/d/edit?mid=188AKtKofEFlJRHrRl4--eV9gn1zaO1jK&ll=13.465794749879045%2C144.71122489999996&z=15"><div class="links"><ion-icon name="navigate"></ion-icon><b>Saved Routes</b></div></a>
                                <a href="#"><div class="links"><ion-icon name="hammer"></ion-icon><b>Best Shops</b></div></a>
                                <a href="https://www.cycletrader.com/"><div class="links"><ion-icon name="pricetag"></ion-icon><b>For Sale</b></div></a>
                                <a href="https://www.facebook.com/groups/231780711792541"><div class="links"><ion-icon name="logo-facebook"></ion-icon><b>Cyclepaths Facebook</b></div></a>
                                <div id='spacerDiv' class="links"></div>
                                <a href="https://www.yamahamotorsports.com/"><div class="links"><img class='brandImg' src="/photos/yamaha.png" alt=""><b>Yamaha</b></div></a>
                                <a href="https://powersports.honda.com/"><div class="links"><img class='brandImg' src="/photos/honda.png" alt=""><b>Honda</b></div></a>
                                <a href="https://suzukicycles.com/"><div class="links"><img class='brandImg' src="/photos/suz.png" alt=""><b>Suzuki</b></div></a>
                                <a href="https://www.ducati.com/us/en/home"><div class="links"><img class='brandImg' src="/photos/ducati.png" alt=""><b>Ducati</b></div></a>
                                <a href="https://www.bmwmotorcycles.com/"><div class="links"><img class='brandImg' src="/photos/bmw.png" alt=""><b>BMW</b></div></a>
                                <a href="https://www.kawasaki.com/en-us/"><div class="links"><img class='brandImg' src="/photos/kawi.png" alt=""><b>Kawasaki</b></div></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery">
                    <iframe src="https://www.google.com/maps/d/embed?mid=188AKtKofEFlJRHrRl4--eV9gn1zaO1jK&ehbc=2E312F" width="640" height="480"></iframe>
                    <%for(let val of allPhotos){%>
                        <div class="box" onclick="toGallery()">
                            <div class="postDiv">
                                <div class="middleImgContainer">
                                    <img class="imageMiddle" src="<%=val.src%>" alt="">
                                </div>
                            </div>
                            <div class="clip" id='right'></div>
                            <div class="clip" id='left'></div>
                            <div class="clip" id='up'></div>
                            <div class="clip" id='down'></div>
                            <span id='rightClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><p><h3>Posted by <%=val.UserName%></h3><%=val.desc%></div></p></span>
                            <span id='leftClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.desc%></div></span>
                            <span id='upClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.desc%></div></span>
                            <span id='downClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.desc%></div></span>
                        </div>
                    <%}%>
                </div>
                <div class="bodyRightSide">
                    <div class="shade">
                        <article class="postContainer">
                            <h1>Post</h1>
                            <%for(let val of post){%>
                                <article class="postBox" onclick="window.location.href='/userProfile/<%=val.UserName%>/<%=currentUser.UserName%>';">
                                    <div class="sidePost">
                                        <h3><%=val.subject%> by <%=val.UserName%></h3>
                                        <div class="sidePostPic" style= "background-image:url(<%=val.img%>)" id="edit">Post
                                            <p><%=val.content%></p>
                                        </div>
                                    </div>
                                </article>
                            <%}%>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let userName= '<%=currentUser.UserName%>'
            function edit(id){
                window.location.href=`/edit/${id}/edit`;
            }

            function toGallery(){
                window.location.href=`/gallery/${'<%=currentUser.UserName%>'}`;
            }

            const sliders = document.querySelector('.carouselBox')
            let scrollAmount = 0;
            let scrollPerClick = 650;

            function scrollL(){
              console.log('clicked left');
              console.log(` scroll befor ${scrollAmount}`);
              if(scrollAmount<=0){
                scrollAmount=2790;
                // let $switch = $('.carouselBox').children().last().remove()
                // $switch.prependTo('.carouselBox')
                sliders.scrollTo({
                    top:0,
                    left: (scrollAmount -= scrollPerClick),
                    behavior: "smooth"
                })
                    // console.log(` scroll if ${scrollAmount}`);
                }else{
                sliders.scrollTo({
                    top:0,
                    left: (scrollAmount -= scrollPerClick),
                    behavior: "smooth"
                });
                    // console.log(` scroll after ${scrollAmount}`);
                }
            }

            function scrollR(){
                    // console.log('clicked right');
                    // console.log( sliders.scrollWidth);
              if(scrollAmount< sliders.scrollWidth-200 ){
                sliders.scrollTo({
                  top:0,
                  left: (scrollAmount += scrollPerClick),
                  behavior: "smooth"
                })
              }else{
                console.log('you are at the end');
                scrollAmount=0
                    // let $switch = $('.carouselBox').children().first().remove()
                    // $switch.appendTo('.carouselBox')
                sliders.scrollTo({
                    top:0,
                    left: (0),
                    behavior: "smooth"
                })
              }
            }
        </script>

    </body>
</html>
