<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/update.css">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta charset="utf-8">
        <title>Edit Page</title>
    </head>
    <body>
        <div class="main">
            <div class="mainEffect">
                <h1>Edit Page</h1>
                <div class="container">
                    <div class="holder">
                        <div class="formHolder">
                            <form class="form" action="/edit/<%=post.id%>?_method=PUT" method="POST">
                                <div class="pair">
                                    UserName: <%=data[0].UserName%>
                                    <br/>
                                    <input hidden id ="nameVal" type="text" name="UserName" onchange='checkName(event)' value="<%=data[0].UserName%>"/>
                                    </div>
                                <div class="pair">
                                    Content to edit:
                                    <textarea class="input" id="inputBox" style="width:350px; height:100px;" type="text" name="content" placeholder="<%=post.content%>"></textarea>
                                    <br/>
                                </div>
                                <div id='log' class="imgIn" style= "background-image:url(<%=post.img%>)"></div>
                                <div class="pair">
                                <input class="input" id="postImg" type="text" name="img" value="<%=post.img%>"/>New Picture<br/>
                                     *Please use a url, ex: 'https://i.imgur.com/Q8vh9AO.jpg'<br/>
                                     </div>
                                <input class="input butt" id=subPost type="submit" value="Edit Post">
                                <button class='butt' type="button" name="button" onclick="window.location.href='/userProfile/<%=data[0].UserName%>/<%=data[0].UserName%>';">Back To Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <script>
            const input = document.querySelector('#postImg');
            const log = document.getElementById('log');

            input.addEventListener('change', updateValue);

            function updateValue(e) {
              log.style.backgroundImage = `url(${e.target.value})`;
            }
        </script>

    </body>
</html>
