<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/userProfile.css">
    <meta charset="utf-8">
    <title></title>
</head>
    <body>
        <header>
            <img class="cpIcons" src="/photos/cpIcon.png" alt="">
            <h1>Cyclepaths</h1>
            <img class="cpIcons" src="/photos/cpIcon.png" alt="">
        </header>
        <div class="main">
            <div class="bodyHead">
                <div class="coverPhotoContainer">
                    <div class="shade1">

                        <div class="coverPhoto" style="background-image: url('<%=data[0].coverPhoto%>')">
                        </div>
                        <div class="profilePhoto" style="background-image: url('<%=data[0].profilePicture%>')">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bufferBox">
                <div class="profilePhotoWide" style="background-image: url('<%=data[0].profilePicture%>')">
                </div>
                <div class="userName">
                    <h1><%=data[0].firstName%> <%=data[0].lastName%></h1>
                    <h3>(<%=data[0].UserName%>)</h3>

                    <div class="linkBox">
                        <button class='butt' type="button"  onclick="window.location.href='/profile/<%=currentUser.UserName%>/<%=currentUser.UserName%>';">Back To Wall  <ion-icon name="home"></ion-icon></button>

                        <button class='butt' type="button" onclick="window.location.href='/userGallery/<%=data[0].UserName%>/<%=currentUser.UserName%>';">Photos  <ion-icon name="images"></ion-icon> </button>
                        <%if(data[0].UserName == currentUser.UserName){%>
                            <button  class='butt' type="button" name="button" onclick="window.location.href='/editUser/<%=currentUser.UserName%>';">Edit Your Info <ion-icon name="create"></ion-icon></button>
                        <%}%>
                    </div>
                </div>
            </div>

            <div class="bodyDiv">
                <div class="bodyLeftSide">
                    <div class="shade">
                        <div class="friends">
                            <div class="carousel">
                                <div class="carouselBox">
                                  <%for(let val of allUsers){%>
                                    <a href="/userProfile/<%=val.UserName%>/<%=currentUser.UserName%>" >
                                        <div id="s1" class="horizontal-card" style="background-image: url('<%=val.profilePicture%>')">
                                      <%=val.UserName%>
                                        </div>
                                    </a>
                                <%}%>
                                </div>
                                <div class = "leftScroll"  onclick="scrollL()"><</div>
                                <div class = "rightScroll"  onclick="scrollR()">></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bodyRightSide">
                    <div class="shade">
                        <article class="postContainer">
                            <% if(data[0].UserName === currentUser.UserName ){%>
                                <div class="yourPost">
                                    <h1>Your Post</h1>
                                     <a class="edit" href="/newPost/<%=data[0].UserName%>/newPost">
                                         <ion-icon name="pencil"><br></ion-icon>
                                         Create a Post
                                         </a>
                                </div>
                                <%}else if(data[0].UserName != currentUser.UserName ){%>
                                    <h1><%=data[0].UserName%>'s Post</h1>
                            <%}%>
                            <%for(let val of post){%>
                                <% if(data[0].UserName === val.UserName ){%>


                                <div class="box" onclick="viewPost('<%=val.id%>')">
                                   <div class="postDiv">
                                           <div class="sidePostPic" style= "background-image:url(<%=val.img%>)" id="edit">
                                               <div class="postText">
                                                   <div class="sideUserPic" style= "background-image:url( <%=data[0].profilePicture%>)"></div>
                                                  <h3><%=val.UserName%></h3> <p><%=val.content%></p>
                                                </div>
                                            </div>

                                       <div class="clip" id='right'></div>
                                       <div class="clip" id='left'></div>
                                       <div class="clip" id='up'></div>
                                       <div class="clip" id='down'></div>

                                       <span id='rightClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.content%></div></p></span>

                                       <span id='leftClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.content%></div></span>

                                       <span id='upClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.content%></div></span>

                                       <span id='downClip' class="clipper"><div class= "emptyClipBox"></div><div class= 'sideClipBox'><h3>Posted by <%=val.UserName%></h3><p><%=val.content%></div></span>
                                   </div>
                               </div>
                            <%}}%>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <script>

        function edit(id){
            window.location.href=`/edit/${id}/edit`;

        }
        function viewPost(id){
            window.location.href=`/usersPost/${id}/<%=currentUser.UserName%>`;

        }

            const sliders = document.querySelector('.carouselBox')

            let scrollAmount = 0;
            let scrollPerClick = 650;

            function scrollL(){
              console.log('clicked left');
              console.log(` scroll befor ${scrollAmount}`);
              if(scrollAmount<=0){
                scrollAmount=2790;

                // let $switch = $('.carouselBox').children().last().remove()
                // $switch.prependTo('.carouselBox')

                sliders.scrollTo({
                    top:0,
                    left: (scrollAmount -= scrollPerClick),
                    behavior: "smooth"
                })
                    // console.log(` scroll if ${scrollAmount}`);
                }else{
                sliders.scrollTo({
                    top:0,
                    left: (scrollAmount -= scrollPerClick),
                    behavior: "smooth"
                });
                    // console.log(` scroll after ${scrollAmount}`);
                }
            }

            function scrollR(){
                    // console.log('clicked right');
                    // console.log( sliders.scrollWidth);
              if(scrollAmount< sliders.scrollWidth-200 ){

                sliders.scrollTo({
                  top:0,
                  left: (scrollAmount += scrollPerClick),
                  behavior: "smooth"
                })
              }else{
                console.log('you are at the end');
                scrollAmount=0

                    // let $switch = $('.carouselBox').children().first().remove()
                    // $switch.appendTo('.carouselBox')

                sliders.scrollTo({
                    top:0,
                    left: (0),
                    behavior: "smooth"
                })
              }
            }
        </script>


    </body>
</html>
