<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="/css/gallery.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body id="bod">
        <header>
            <img class="cpIcons" src="/photos/cpIcon.png" alt="">
            <a href="/newPhotoUpload/<%=currentUser.UserName%>"><ion-icon name="arrow-up-circle"></ion-icon>  Upload An Image</a>
            <a href="/userProfile/<%=currentUser.UserName%>/<%=currentUser.UserName%>"><ion-icon name="home"></ion-icon>  Home</a>
            <a href="/gallery/<%=currentUser.UserName%>"><ion-icon name="images"></ion-icon> Main Gallery</a>
            <img class="cpIcons" src="/photos/cpIcon.png" alt="">
        </header>
        <div class="main">
            <h1><%=user.UserName%>'s Photos'</h1>
            <div class="upperImg"></div>
            <div class="gallery">
                <%for(val of allPhotos){%>
                <%if(user.UserName == val.UserName){%>
                    <div class="box" id='boxes'  onclick = editPhoto('<%= val.id %>')>
                        <img onclick = zoom() class='galleryPic' id="try" src="<%=val.src%>">
                        <div class="clip" id='right' ></div>
                        <div class="clip" id='left'></div>
                        <div class="clip" id='up'></div>
                        <div class="clip" id='down'></div>
                        <span id='rightClip' class="clipper">Click to Zoom<br><br>
                            <%= val.desc%>
                        </span>
                        <span id='leftClip' class="clipper">Click to Zoom<br><br>
                            <%= val.desc%>
                        </span>
                        <span id='upClip' class="clipper">Click to Zoom<br><br>
                            <%= val.desc%>
                        </span>
                        <span id='downClip' class="clipper">Click to Zoom<br><br>
                            <%= val.desc%>
                        </span>
                    </div>
                <%}}%>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <div class="modal-content">
                    <p>You cannot edit this photo</p>
                </div>
                </div>


                </div>


        </div>
<script type="">

const modal = document.getElementById("myModal");
const modalImg = document.getElementById("img01");
const image = document.getElementById('try')
const  userName = '<%= currentUser.UserName %>'


function editPhoto(id) {

         window.location.href=`/galleryEdit/${id}/${userName}`


}
function zoom(img) {
// const img = document.getElementById('boxes');
    // console.log(img);
  modal.style.display = "block";
  modalImg.style.backgroundImage = `url(${img})`;
   // modalImg.src = this.src;
}
const span = document.getElementsByClassName("close")[0];
span.onclick = function() {
  modal.style.display = "none";
}

</script>
    </body>
</html>
